<!DOCTYPE html>
<html ng-app="catsvsdogs">
  <head>
    <meta charset="utf-8">
    <title>Cats vs Dogs -- Result</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Docker">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="statsCtrl" >
    <div id="background-stats">
      <div id="background-stats-1">
      </div><!--
     --><div id="background-stats-2">
     </div>
   </div>
   <div id="content-container">
     <div id="content-container-center">
       <div id="choice">
         <div class="choice cats">
           Shijirbat
           <div class="stat">{{aPercent | number:1}}%</div>
         </div>
         <div class="divider"></div>
         <div class="choice dogs">
           Enkh-Erdene
           <div class="stat">{{bPercent | number:1}}%</div>
         </div>
       </div>
     </div>
   </div>
   <div id="result">
     <span ng-if="total == 0">No votes yet</span>
     <span ng-if="total == 1">{{total}} vote</span>
     <span ng-if="total >= 2">{{total}} votes</span>
   </div>
   <script src="socket.io.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="app.js"></script>
 </body>
</html>
