<h2>Contact Us</h2>
<form>
  <label for="name">Name:</label>
  <input name="name" type="text" /><br /><br />
  <label for="email">Email:</label>
  <input name="email" type="email" /><br /><br />
  <label for="subject">Subject:</label>
  <input name="subject" type="subject" /><br /><br />
  <label for="name">Message:</label>
  <textarea name="message"></textarea><br /><br />
  <input type="submit" />
  <div>
    <p id="result-text"></p>
  </div>
</form>


<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (event) => {
    // prevent the form submit from refreshing the page
    event.preventDefault();

    const { name, email, subject, message } = event.target;

    // Use your API endpoint URL you copied from the previous step
    const endpoint =
      "https://f46ibg37c9.execute-api.us-west-2.amazonaws.com/prod";
    // We use JSON.stringify here so the data can be sent as a string via HTTP
    const body = JSON.stringify({
      senderName: name.value,
      senderEmail: email.value,
      subject: subject.value,
      message: message.value
    });
    const requestOptions = {
      method: "POST",
      body
    };

    fetch(endpoint, requestOptions)
      .then((response) => {
        if (!response.ok) throw new Error("Error in fetch");
        return response.json();
      })
      .then((response) => {
        document.getElementById("result-text").innerText =
          "Email sent successfully!";
      })
      .catch((error) => {
        document.getElementById("result-text").innerText =
          "An unkown error occured.";
      });
  });
</script>